<Form action="/payment/results">
<label for="APR">APR</label>
<input id="APR" type="text" name="APR">
<label for="years">Number of years</label>
<input id="years" type="text" name="years">
<label for="Principal">Principal</label>
<input id="Principal" type="text" name="Principal">
<button>Calculate monthly payment</button>
</Form>
