<h1>Payment Results</h1>
<li>APR <%= @APR %></li>
<li>Principal <%= @Principal %></li>
<li>Years <%= @years %></li>
<li>Payment<%= @result %></li>

<a href="/payment/new">Calculate another payment</a>
